In [1]:
import pandas as pd

In [4]:
data = {
    "Name": ['bheem', 'kaliya', 'dholu', 'bholu'],
    "Age": [13, 12, 11, 10],
    "City": ['dholakpur', 'mumbai', 'delhi', 'bangalore']
}


df = pd.DataFrame(data)
print('Own data frame :\n',df)

Own data frame :
      Name  Age       City
0   bheem   13  dholakpur
1  kaliya   12     mumbai
2   dholu   11      delhi
3   bholu   10  bangalore

In [6]:
df.to_csv('DholakpurGang.csv',index=False)