# Sorting data - 1 column

In [1]:
import pandas as pd

In [2]:
data = {
    'name' : ['ram','arun','shayam'],
    'age' : [10,12,19],
    'id' : [1,2,3 ]
}

In [4]:
# creating data frame
df = pd.DataFrame(data)
print('Original :\n',df)

Original :
      name  age  id
0     ram   10   1
1    arun   12   2
2  shayam   19   3

In [8]:
# sorting in descending order
df.sort_values(by='name',ascending=False,inplace=True)
print('After sorting in Descending order :\n',df)

After sorting in Descending order :
      name  age  id
2  shayam   19   3
0     ram   10   1
1    arun   12   2