# .mean() aggregation function

In [1]:
import pandas as pd

data = {
    'Name': ['Amit', 'Riya', 'John', 'Sara', 'Tom'],
    'Age': [25, 30, 28, 22, 35],
    'Salary': [50000, 60000, 58000, 52000, 70000]
}

df = pd.DataFrame(data)
print("Original Data:\n", df)

# .mean() Aggregation Function
print("\nMean (average value) of each column:\n", df[['Age', 'Salary']].mean())

Original Data:
    Name  Age  Salary
0  Amit   25   50000
1  Riya   30   60000
2  John   28   58000
3  Sara   22   52000
4   Tom   35   70000

Mean (average value) of each column:
 Age          28.0
Salary    58000.0
dtype: float64