# Summary Statistics 
## It provides the numeric summary of column

In [1]:
import pandas as pd

In [2]:
data = {
    'name' : ['ram','arun','shayam'],
    'age' : [10,12,19],
    'id' : [1,2,3 ]
}

In [4]:
# making data frame
df = pd.DataFrame(data)
print('Oroginal :\n',df)

Oroginal :
      name  age  id
0     ram   10   1
1    arun   12   2
2  shayam   19   3

## Summary statistics

In [10]:
# mean()
avg1 = df['age'].mean()
print('Mean (age):\n',avg1)

avg2 =df['id'].mean()
print('Mean (id):\n',avg2)

Mean (age):
 13.666666666666666
Mean (id):
 2.0

In [13]:
# total value .sum()

sum1 = df['age'].sum()
print('Sum (age):\n',sum1)

sum2 =df['id'].sum()
print('Sum (id):\n',sum2)

Sum (age):
 41
Sum (id):
 6

In [15]:
# min value .min()

min1 = df['age'].min()
print('Min (age):\n',min1)

min2 =df['id'].min()
print('Min (id):\n',min2)

Min (age):
 10
Min (id):
 1

In [16]:
# max value .max()

max1 = df['age'].max()
print('Max (age):\n',max1)

max2 =df['id'].max()
print('Max (id):\n',max2)

Max (age):
 19
Max (id):
 3