# Adding calculated data

In [1]:
import pandas as pd

In [2]:
data = {
    'Name' : ['ram',None,'rohit','virat','aditi','raj','driti','simran'],
    'Age' : [20,None,34,26,21,34,29,31],
    'Salary' : [50000,None,60000,65000,64000,90000,56000,87000],
    'Performance Score' : [85,None,95,94,89,29,99,100]
}

In [3]:
df = pd.DataFrame(data)
print('Original data :\n',df)

Original data :
      Name   Age   Salary  Performance Score
0     ram  20.0  50000.0               85.0
1    None   NaN      NaN                NaN
2   rohit  34.0  60000.0               95.0
3   virat  26.0  65000.0               94.0
4   aditi  21.0  64000.0               89.0
5     raj  34.0  90000.0               29.0
6   driti  29.0  56000.0               99.0
7  simran  31.0  87000.0              100.0

# Adding calculated data

In [ ]:
# adding mean of the entire Age column 
df['Age'].fillna(df['Age'].mean(),inplace=True) 
print(df)

     Name        Age   Salary  Performance Score
0     ram  20.000000  50000.0               85.0
1    None  27.857143      NaN                NaN
2   rohit  34.000000  60000.0               95.0
3   virat  26.000000  65000.0               94.0
4   aditi  21.000000  64000.0               89.0
5     raj  34.000000  90000.0               29.0
6   driti  29.000000  56000.0               99.0
7  simran  31.000000  87000.0              100.0

In [9]:
# adding mean of the entire Salary column 
df['Salary'].fillna(df['Salary'].mean(),inplace=True) 
print(df)

     Name        Age        Salary  Performance Score
0     ram  20.000000  50000.000000               85.0
1    None  27.857143  67428.571429                NaN
2   rohit  34.000000  60000.000000               95.0
3   virat  26.000000  65000.000000               94.0
4   aditi  21.000000  64000.000000               89.0
5     raj  34.000000  90000.000000               29.0
6   driti  29.000000  56000.000000               99.0
7  simran  31.000000  87000.000000              100.0

In [10]:
# adding mean of the entire Performance Score column 
df['Performance Score'].fillna(df['Performance Score'].mean(),inplace=True) 
print(df)

     Name        Age        Salary  Performance Score
0     ram  20.000000  50000.000000          85.000000
1    None  27.857143  67428.571429          84.428571
2   rohit  34.000000  60000.000000          95.000000
3   virat  26.000000  65000.000000          94.000000
4   aditi  21.000000  64000.000000          89.000000
5     raj  34.000000  90000.000000          29.000000
6   driti  29.000000  56000.000000          99.000000
7  simran  31.000000  87000.000000         100.000000