# Handling missing data by deleting it

In [1]:
import pandas as pd

In [3]:
data = {
    'Name' : ['ram',None,'rohit','virat','aditi','raj','driti','simran'],
    'Age' : [20,None,34,26,21,34,29,31],
    'Salary' : [50000,60000,None,65000,64000,90000,56000,87000],
    'Performance Score' : [85,None,95,94,89,29,99,100]
}

In [5]:
df = pd.DataFrame(data)
print('Original data :\n',df)

Original data :
      Name   Age   Salary  Performance Score
0     ram  20.0  50000.0               85.0
1    None   NaN  60000.0                NaN
2   rohit  34.0      NaN               95.0
3   virat  26.0  65000.0               94.0
4   aditi  21.0  64000.0               89.0
5     raj  34.0  90000.0               29.0
6   driti  29.0  56000.0               99.0
7  simran  31.0  87000.0              100.0

## Two ways to handle missing data - 
### 1. delete it if it is not important  using .dropna()
### 2. fill it with some data

In [9]:
 
# deleting values using .dropna(axis=0/1,inplace=True/False) - 0 means delete rows and  1 means columns
df.dropna(inplace=True)
print(df)

     Name   Age   Salary  Performance Score
0     ram  20.0  50000.0               85.0
3   virat  26.0  65000.0               94.0
4   aditi  21.0  64000.0               89.0
5     raj  34.0  90000.0               29.0
6   driti  29.0  56000.0               99.0
7  simran  31.0  87000.0              100.0