# Identifying missing data

In [1]:
import pandas as pd

In [16]:
data = {
    'Name' : ['ram',None,'rohit','virat','aditi','raj','driti','simran'],
    'Age' : [20,None,34,26,21,34,29,31],
    'Salary' : [50000,60000,None,65000,64000,90000,56000,87000],
    'Performance Score' : [85,None,95,94,89,29,99,100]
}

In [ ]:
df = pd.DataFrame(data)
print('Original Data :\n',df)

Original Data :
      Name   Age   Salary  Performance Score
0     ram  20.0  50000.0               85.0
1    None   NaN  60000.0                NaN
2   rohit  34.0      NaN               95.0
3   virat  26.0  65000.0               94.0
4   aditi  21.0  64000.0               89.0
5     raj  34.0  90000.0               29.0
6   driti  29.0  56000.0               99.0
7  simran  31.0  87000.0              100.0
    Name    Age  Salary  Performance Score
0  False  False   False              False
1   True   True   False               True
2  False  False    True              False
3  False  False   False              False
4  False  False   False              False
5  False  False   False              False
6  False  False   False              False
7  False  False   False              False

In [26]:
# using isnull() method
print(df.isnull())

    Name    Age  Salary  Performance Score
0  False  False   False              False
1   True   True   False               True
2  False  False    True              False
3  False  False   False              False
4  False  False   False              False
5  False  False   False              False
6  False  False   False              False
7  False  False   False              False

In [27]:
# if we want to know how many values are missing use .sum()

print(df.isnull().sum())

Name                 1
Age                  1
Salary               1
Performance Score    1
dtype: int64