# Selecting Specific column, filtering rows, combine multiple conditions

In [4]:
import pandas as pd

In [3]:
data = {
    'Name' : ['ram','shayam','rohit','virat','aditi','raj','driti','simran'],
    'Age' : [20,23,34,26,21,34,29,31],
    'Salary' : [50000,60000,76000,65000,64000,90000,56000,87000],
    'Performance Score' : [85,90,95,94,89,29,99,100]
}

In [7]:
df = pd.DataFrame(data)

# Simple data frame
print('Simple Dataframe :\n')
print(df)

Simple Dataframe :

     Name  Age  Salary  Performance Score
0     ram   20   50000                 85
1  shayam   23   60000                 90
2   rohit   34   76000                 95
3   virat   26   65000                 94
4   aditi   21   64000                 89
5     raj   34   90000                 29
6   driti   29   56000                 99
7  simran   31   87000                100

In [15]:
# Accesing single column
print('Accessing Single column : \n')
print(df['Name'])

Accessing Single column :

0       ram
1    shayam
2     rohit
3     virat
4     aditi
5       raj
6     driti
7    simran
Name: Name, dtype: object

In [21]:
# Accesing multiple column
print('Accessing multiple columns:\n')
print(df[['Name', 'Salary']])

Accessing multiple columns:

     Name  Salary
0     ram   50000
1  shayam   60000
2   rohit   76000
3   virat   65000
4   aditi   64000
5     raj   90000
6   driti   56000
7  simran   87000