# Adding Column

In [1]:
import pandas as pd

In [2]:
data = {
    'Name' : ['ram','shayam','rohit','virat','aditi','raj','driti','simran'],
    'Age' : [20,23,34,26,21,34,29,31],
    'Salary' : [50000,60000,76000,65000,64000,90000,56000,87000],
    'Performance Score' : [85,90,95,94,89,29,99,100]
}

In [24]:
df = pd.DataFrame(data)
print('Original :',df)

Original :      Name  Age  Salary  Performance Score
0     ram   20   50000                 85
1  shayam   23   60000                 90
2   rohit   34   76000                 95
3   virat   26   65000                 94
4   aditi   21   64000                 89
5     raj   34   90000                 29
6   driti   29   56000                 99
7  simran   31   87000                100

In [25]:
# adding bonus column
df['Bonus'] = df['Salary'] * 0.1
print('After adding bonus :\n',df)

After adding bonus :
      Name  Age  Salary  Performance Score   Bonus
0     ram   20   50000                 85  5000.0
1  shayam   23   60000                 90  6000.0
2   rohit   34   76000                 95  7600.0
3   virat   26   65000                 94  6500.0
4   aditi   21   64000                 89  6400.0
5     raj   34   90000                 29  9000.0
6   driti   29   56000                 99  5600.0
7  simran   31   87000                100  8700.0

In [26]:
# Using insert() method
df.insert(0,"ID",[10,20,30,40,50,60,70,80])
print('After adding ID :\n',df)

After adding ID :
    ID    Name  Age  Salary  Performance Score   Bonus
0  10     ram   20   50000                 85  5000.0
1  20  shayam   23   60000                 90  6000.0
2  30   rohit   34   76000                 95  7600.0
3  40   virat   26   65000                 94  6500.0
4  50   aditi   21   64000                 89  6400.0
5  60     raj   34   90000                 29  9000.0
6  70   driti   29   56000                 99  5600.0
7  80  simran   31   87000                100  8700.0