# Updating values

In [2]:
import pandas as pd

In [3]:
data = {
    'Name' : ['ram','shayam','rohit','virat','aditi','raj','driti','simran'],
    'Age' : [20,23,34,26,21,34,29,31],
    'Salary' : [50000,60000,76000,65000,64000,90000,56000,87000],
    'Performance Score' : [85,90,95,94,89,29,99,100]
}

In [5]:
df = pd.DataFrame(data)
print('Original :\n',df)

Original :
      Name  Age  Salary  Performance Score
0     ram   20   50000                 85
1  shayam   23   60000                 90
2   rohit   34   76000                 95
3   virat   26   65000                 94
4   aditi   21   64000                 89
5     raj   34   90000                 29
6   driti   29   56000                 99
7  simran   31   87000                100

In [8]:
# Updating values
df.loc[6,'Name'] = 'driti sharma'
print('After updating value :\n',df)

After updating value :
            Name  Age  Salary  Performance Score
0           ram   20   50000                 85
1        shayam   23   60000                 90
2         rohit   34   76000                 95
3         virat   26   65000                 94
4         aditi   21   64000                 89
5           raj   34   90000                 29
6  driti sharma   29   56000                 99
7        simran   31   87000                100

In [10]:
# Updating values 
df.loc[6,'Age'] = 30
print('After updating value :\n',df)

After updating value :
            Name  Age  Salary  Performance Score
0           ram   20   50000                 85
1        shayam   23   60000                 90
2         rohit   34   76000                 95
3         virat   26   65000                 94
4         aditi   21   64000                 89
5           raj   34   90000                 29
6  driti sharma   30   56000                 99
7        simran   31   87000                100

In [12]:
# incresing salary by 5% - more than one value (entire row)

# updating value
df['Salary'] = df['Salary'] * 1.05
print('Incrementing salary by 5% :\n',df)

Incrementing salary by 5% :
            Name  Age   Salary  Performance Score
0           ram   20  55125.0                 85
1        shayam   23  66150.0                 90
2         rohit   34  83790.0                 95
3         virat   26  71662.5                 94
4         aditi   21  70560.0                 89
5           raj   34  99225.0                 29
6  driti sharma   30  61740.0                 99
7        simran   31  95917.5                100

In [13]:
# Updating age by +1 years
df['Age'] = df['Age'] + 1
print('After updating age :\n',df)

After updating age :
            Name  Age   Salary  Performance Score
0           ram   21  55125.0                 85
1        shayam   24  66150.0                 90
2         rohit   35  83790.0                 95
3         virat   27  71662.5                 94
4         aditi   22  70560.0                 89
5           raj   35  99225.0                 29
6  driti sharma   31  61740.0                 99
7        simran   32  95917.5                100