# Grouping - basic grouping

In [1]:
import pandas as pd

In [2]:
data = {
    'Name' : ['ram','shayam','rohit','virat','aditi','raj','driti','simran'],
    'Age' : [20,23,34,26,21,34,29,31],
    'Salary' : [50000,60000,76000,65000,64000,90000,56000,87000],
    'Performance Score' : [85,90,95,94,89,29,99,100]
}

In [3]:
df = pd.DataFrame(data)
print('Original :\n',df)

Original :
      Name  Age  Salary  Performance Score
0     ram   20   50000                 85
1  shayam   23   60000                 90
2   rohit   34   76000                 95
3   virat   26   65000                 94
4   aditi   21   64000                 89
5     raj   34   90000                 29
6   driti   29   56000                 99
7  simran   31   87000                100